@model List< SuccessiveCart.Models.Domain.Users>
@{
}
<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Email</th>
            <th>Password </th>
            <th>  </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserID</td>
                <td>@user.UserName</td>
                <td>@user.UserPhoneNo</td>
                <td>@user.UserRole</td>
                <td>@user.UserEmail</td>
                <td>@user.UserPassword</td>

                <td><a href="ViewUser/@user.UserID">View</a></td>
            </tr>

        }
    </tbody>
</table>
