@{
    var CategoryList = ViewBag.CategoryList as List<SuccessiveCart.Models.Domain.Cateogry>;
    ViewData["Title"] = "Admin Dashboard";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        function selectCategory(categoryId, categoryName) {
            $.ajax({
                url: '/Admin/GetDataByCategory', 
                type: 'POST',
                data: { categoryId: categoryId },
                success: function (data) {
                    
                    updateTable(data);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching data:', error);
                }
            });
        }

        function updateTable(data) {
            $('#tblData tbody').empty();

            $.each(data, function (index, item) {
                var row = '<tr>' +
                    '<td>' + item.productId + '</td>' +
                    '<td>' + item.productName + '</td>' +
                    '<td>' + item.productPrice + '</td>' +
                    '<td>' + item.cateogryName + '</td>' +
                    '<td>' + item.productCreatedDate + '</td>' +
                    '<td>' + item.isAvailable + '</td>' +
                    '<td>' + item.isTrending + '</td>' +
                    '<td><a href="#">Action</a></td>' + 
                    '</tr>';
                $('#tblData tbody').append(row);
            });
        }
    </script>


    <style>
        .bgaqua {
            background: #4549df;
        }

        .bglightblue {
            background: #fbfbfb;
        }

        .fullwidth {
            max-width: 100%;
        }

        .bggrey {
            background-color: #f2ebeb;
        }

        .ofxh {
            overflow-y: hidden;
        }

        <style >
        /* Custom CSS for table styling */
        #tblData {
            width: 100%;
            border-collapse: collapse;
        }

        #tblData th,
        #tblData td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }

        #tblData th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        #tblData tr:nth-child(even) {
            background-color: #f2f2f2

    </style>
    <title>Admin Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg d-flex justify-content-between bgaqua w-100">
        <div class="container-fluid">
            <a class="navbar-brand text-white" >Admin Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" id="usersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage Users
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                            <li><a class="dropdown-item" asp-action="UsersList" asp-controller="Admin">All Users</a></li>
                            <li><a class="dropdown-item" asp-action="AddUser" asp-controller="Admin">Add New User</a></li>
                        </ul>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-action="CateogryList" asp-controller="Admin">Manage Categories</a>
                    </li>
                    
                   
                    
                    
                    

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="usersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                            @if (CategoryList != null && CategoryList.Count > 0)
                            {
                                foreach (var x in CategoryList)
                                {
                                    <li>
                                       
                                        <a class="dropdown-item"  onclick="selectCategory('@x.CateogryId', '@x.CateogryName')">@x.CateogryName</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>

                    
                </ul>
                <ul class="navbar-nav mt-md-4 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="fs-4"> Hello </span><span class="fst-italic fw-bold fs-4">@User.Identity!.Name</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          
                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Verification">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <button onclick="location.href='@Url.Action("AddProducts", "Admin")'" class="btn btn-primary">
                    <i class="fa fa-tachometer-alt me-2"></i>Add Product
                </button>
                <button type="button" class="btn btn-success ms-2" id="IsAvailableButton">Available Products</button>
                <button type="button" class="btn btn btn-warning ms-2" id="IsTrendingButton">Trending Products</button>
                <span class="text-danger"></span>
            </div>
        </div>
    </div>

    
   <main>
        

                    <div class="row mt-3">
                        <!-- Add margin-top to create space between button and table -->
                        <div class="col-md-12">
                            <table class="table table-bordered" id="tblData">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Manufacture Date</th>
                                        <th scope="col">Available</th>
                                        <th scope="col">Trending</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                
            </main>

            @section Scripts {
                <script src="~/js/product.js"></script>
            }
            <script>

            
            
            
            </script>

</body>
</html>