@using Microsoft.AspNetCore.Identity
@using SuccessiveCart.Models.Domain
@inject SignInManager<Users> sign
@{
    var CategoryList = ViewBag.CategoryList as List<SuccessiveCart.Models.Domain.Cateogry>;
    ViewData["Title"] = "Admin Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuccessiveCart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuccessiveCart.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"/>

      <style>
        .bgaqua {
            background: #4549df;
        }

        .bglightblue {
            background: #fbfbfb;
        }

        .fullwidth {
            max-width: 100%;
        }

        .bggrey {
            background-color: #f2ebeb;
        }

        .ofxh {
            overflow-y: hidden;
        }

        </style >
       
</head>
<body>

    @if(sign.IsSignedIn(User))
    {
        @if(User.IsInRole("Admin"))
        {
            
                <nav class="navbar navbar-expand-lg d-flex justify-content-between bgaqua w-100">
                    <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-action="AdminDashboard" asp-controller="Login">Admin Dashboard</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" id="usersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Manage Users
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                                        <li><a class="dropdown-item" asp-action="UsersList" asp-controller="Admin">All Users</a></li>
                                        <li><a class="dropdown-item" asp-action="Register" asp-controller="Verification">Add New User</a></li>
                                    </ul>
                                </li>

                               






                            <li class="nav-item">
                                <a class="nav-link text-white" asp-action="CateogryList" asp-controller="Admin">Manage Categories</a>
                            </li>






                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" id="categoryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="usersDropdown">
                                    @if (CategoryList != null && CategoryList.Count > 0)
                                    {
                                        foreach (var x in CategoryList)
                                        {
                                            <li>

                                                <a class="dropdown-item" onclick="selectCategory('@x.CateogryId', '@x.CateogryName')">@x.CateogryName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>


                            </ul>
                            <ul class="navbar-nav mt-md-4 mt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="fs-4"> Hello </span><span class="fst-italic fw-bold fs-4">@User.Identity!.Name</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                        <li><a class="dropdown-item" asp-action="Logout" asp-controller="Verification">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
            </nav>
  

               

                @section Scripts {
            <script src="~/js/product.js"></script>
                }
                
        }
    }

    


   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    </div>

   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SuccessiveCart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @functions {
        private bool IsCurrentPage(string controller)
        {
            var routeData = ViewContext.RouteData.Values;
            var currentController = routeData["Controller"] as string ?? "";

            return string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase);
        }
    
    }
</body>
</html>
